name: CI

on:
  push:
    branches: ['main']
    paths:
      - '**.go'
  pull_request:
    branches: ['main']
    paths:
      - '**.go'
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          args: --config .golangci.yml
